@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&family=Syne:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&family=Syne:wght@500&family=Urbanist:wght@300&display=swap");

.light-theme {
    --main-color: #fff;
    --second-color: #000000;
}

.dark-theme {
    --main-color: #0c0b15f5;
    --second-color: #ffffff97;
}

body {
    background-color: var(--main-color);
    padding: 42px 52px;

    header nav {
        display: flex;
        justify-content: space-between;

        .logo-div {
            display: flex;
            justify-content: space-between;
            width: 14%;

            .logo-name {
                color: var(--second-color);
                font-weight: 800;
                font-family: "Poppins", sans-serif;
                font-size: 2em;
                opacity: 0.7;
            }
        }

        .all-ul {
            display: flex;
            width: 70%;

            .first-ul {
                display: flex;
                width: 60%;
                justify-content: space-between;

                li {
                    list-style-type: none;
                    font-family: "Urbanist", sans-serif;
                    font-size: 1.5em;

                    a {
                        text-decoration: none;
                        color: var(--second-color);
                    }
                }
            }

            .second-ul {
                display: flex;
                margin-left: 10%;
                width: 40%;
                justify-content: space-around;

                li {
                    list-style-type: none;
                    font-family: "Urbanist", sans-serif;
                    font-size: 1.5em;

                    a {
                        text-decoration: none;
                        color: var(--second-color);
                    }
                }

                .change-theme {
                    margin-top: -10px;
                }

                .change-theme:hover {
                    cursor: pointer;
                }

                .menu:hover {
                    cursor: pointer;
                }
            }
        }
    }

    .first-section {
        .get-your-hands {
            font-size: 4em;
            text-align: center;
            font-weight: 700;
            color: var(--second-color);
        }

        .first-section-first-div {
            font-family: "Poppins", sans-serif;
            display: flex;
            justify-content: space-between;
            margin-top: 5em;

            .first-column-div {
                margin-top: 5em;
                width: 30%;

                .nemo {
                    font-size: 1.5em;
                    color: var(--second-color);
                }

                .first-column-div-div {
                    display: flex;
                    margin-top: 5em;

                    .first-column-div-1 {
                        display: flex;
                        justify-content: space-between;

                        a {
                            display: flex;
                            justify-content: space-around;
                            align-items: center;
                            text-decoration: none;
                            background-color: var(--second-color);
                            opacity: 0.8;
                            padding: 1em;
                            border-radius: 10px;

                            span {
                                font-size: 1.5em;
                                color: var(--main-color);
                            }
                        }
                    }

                    .first-column-div-2 {
                        display: flex;
                        justify-content: space-between;
                        margin-left: 2em;

                        a {
                            display: flex;
                            justify-content: space-around;
                            align-items: center;
                            text-decoration: none;
                            padding: 1em;

                            div {
                                width: 2em;
                                height: 2em;
                                border: 1px solid var(--second-color);
                                border-radius: 50%;
                                padding: 10px;

                                img {
                                    margin-left: 0.5em;
                                    margin-top: 0.3em;
                                    width: 1.2em;
                                }
                            }

                            span {
                                font-size: 1.5em;
                                color: var(--second-color);
                            }
                        }
                    }
                }
            }

            .second-column-div {
                display: flex;

                .first-picture {
                    width: 1200px;
                    height: 482px;
                    background-image: url("../img/first-drone.png");
                }

                .second-picture {
                    width: 919px;
                    height: 482px;
                    background-image: url("../img/second-drone.png");
                }

                .third-picture {
                    width: 896px;
                    height: 482px;
                    background-image: url("../img/third-drone.png");
                }

                .fourth-picture {
                    width: 750px;
                    height: 482px;
                    background-image: url("../img/fourth-drone.png");
                }

                .fifth-picture {
                    width: 1000px;
                    height: 482px;
                    background-image: url("../img/fifth-drone.jpg");
                }

                .sixth-picture {
                    width: 1024px;
                    height: 482px;
                    background-image: url("../img/sixth-drone.png");
                }

                .social-div {
                    font-family: "Poppins", sans-serif;
                    display: flex;

                    li {
                        transform: rotate(-90deg);
                        margin-top: 5em;

                        a {
                            text-decoration: none;
                            color: var(--second-color);
                        }
                    }

                    .facebook {
                        list-style-type: none;
                    }
                }
            }
        }

        .first-section-second-div {
            margin-top: 3em;
            margin-left: 30%;
            width: 40em;
            display: flex;
            justify-content: space-around;

            .prev,
            .next {
                color: var(--second-color);
                font-family: "Poppins", sans-serif;
                font-size: 1.5em;
                margin-top: -1em;
                padding: 0.5em;
            }

            .prev:hover,
            .next:hover {
                cursor: pointer;
                outline: 1px solid var(--second-color);
                border-radius: 10px;
            }

            .circle {
                width: 15px;
                height: 15px;
                background-color: var(--second-color);
                border-radius: 50%;
                opacity: 0.5;
                cursor: pointer;
            }

            .current--circle,
            .circle:hover {
                width: 20px;
                height: 20px;
                background-color: var(--second-color);
                border-radius: 50%;
                opacity: 1;
            }
        }
    }

    .second-section {
        margin-top: 4em;

        ul {
            display: flex;
            justify-content: space-between;
            width: 80%;
            margin-left: 8%;

            li {
                list-style-type: none;
            }

            .second-section-first-li {
                background-color: var(--white);
                border-radius: 10px;
                padding: 2em;
                box-shadow: 0px 14px 33px -8px rgba(0, 0, 0, 0.406);

                img {
                    margin-top: 1em;
                }
            }

            .second-section-img {
                margin-top: 2em;
            }

            .ladspa-img {
                margin-top: 4em;
            }
        }
    }

    .third-section {
        margin-top: 4em;
        display: flex;

        .third-section-drone {
            position: absolute;
            left: -0.1%;
        }

        .third-section-container {
            width: 40%;
            margin-left: 50%;
            .drone-without {
                color: var(--second-color);
                font-family: "Urbanist", sans-serif;
                font-size: 4em;
                font-weight: 900;
            }

            .second-nemo {
                color: var(--second-color);
                font-family: "Poppins", sans-serif;
                font-size: 1.5em;
            }

            .third-section-columns {
                display: flex;
                justify-content: space-between;

                .first-p {
                    color: var(--second-color);
                    font-size: 1.5em;
                    font-family: "Urbanist", sans-serif;
                    font-weight: 900;
                }

                .second-p {
                    color: var(--second-color);
                    font-family: "Poppins", sans-serif;
                    width: 70%;
                }
            }

            .buy-now {
                color: var(--second-color);
                font-size: 1.5em;
                font-family: "Urbanist", sans-serif;
                font-weight: 900;
            }
        }
    }
}

@media (max-width: 990px) {
    body {
        padding: 10px 15px;

        header nav {
            display: block;

            .logo-div {
                width: 100%;
            }

            .all-ul {
                .first-ul {
                    width: 50%;

                    li {
                        margin-left: 10px;
                        font-size: 1.5em;
                    }
                }

                .second-ul {
                    width: 50%;

                    li {
                        margin-left: 10px;
                        font-size: 1.5em;
                    }
                }
            }
        }

        .first-section {
            .get-your-hands {
                font-size: 3em;
            }

            .first-section-first-div {
                font-family: "Poppins", sans-serif;
                display: block;
                justify-content: space-between;
                margin-top: 2em;

                .first-column-div {
                    margin-top: 2em;
                    width: 100%;

                    .nemo {
                        font-size: 1em;
                    }

                    .first-column-div-div {
                        display: flex;
                        margin-top: 2em;

                        .first-column-div-1 {
                            width: 50%;

                            a {
                                padding: 0.2em;

                                span {
                                    margin-left: 10px;
                                    font-size: 1em;
                                }
                            }
                        }

                        .first-column-div-2 {
                            width: 50%;

                            a {
                                padding: 0.2em;

                                span {
                                    margin-left: 10px;
                                    font-size: 1em;
                                }
                            }
                        }
                    }
                }

                .second-column-div {
                    margin-top: 1em;
                    width: 100%;

                    .picture {
                        position: absolute;
                        background-size: 75%;
                        background-repeat: no-repeat;
                        margin-left: 30%;
                    }

                    .social-div {
                        margin-left: 80%;
                    }
                }
            }

            .first-section-second-div {
                margin-top: 13em;
                width: 50%;
                margin-left: 30%;

                .prev,
                .next {
                    font-size: 1em;
                }

                .circle {
                    width: 10px;
                    height: 10px;
                }

                .current--circle,
                .circle:hover {
                    width: 15px;
                    height: 15px;
                }
            }
        }
    }
}

@media (max-width: 500px) {
    body {
        padding: 5px 10px;

        header nav {
            .all-ul {
                display: block;

                .first-ul {
                    width: 50%;

                    li {
                        margin-left: 10px;
                        font-size: 1.5em;
                    }
                }

                .second-ul {
                    width: 50%;

                    li {
                        margin-left: 10px;
                        font-size: 1.5em;
                    }
                }
            }
        }

        .first-section {
            .get-your-hands {
                font-size: 3em;
            }

            .first-section-first-div {
                font-family: "Poppins", sans-serif;
                display: block;
                justify-content: space-between;
                margin-top: 2em;

                .first-column-div {
                    margin-top: 2em;
                    width: 100%;

                    .nemo {
                        font-size: 1em;
                    }

                    .first-column-div-div {
                        display: flex;
                        margin-top: 2em;

                        .first-column-div-1 {
                            width: 50%;

                            a {
                                padding: 0.2em;

                                span {
                                    margin-left: 10px;
                                    font-size: 1em;
                                }
                            }
                        }

                        .first-column-div-2 {
                            width: 50%;

                            a {
                                padding: 0.2em;

                                span {
                                    margin-left: 10px;
                                    font-size: 1em;
                                }
                            }
                        }
                    }
                }

                .second-column-div {
                    margin-top: 1em;
                    width: 100%;

                    .picture {
                        position: absolute;
                        width: 800px;
                        height: 400px;
                        left: -50%;
                        background-repeat: none;
                    }

                    .social-div {
                        margin-left: 70%;
                    }
                }
            }

            .first-section-second-div {
                margin-top: 5em;
                width: 20em;
                margin-left: 5%;

                .prev,
                .next {
                    font-size: 1em;
                }

                .circle {
                    width: 10px;
                    height: 10px;
                }

                .current--circle,
                .circle:hover {
                    width: 15px;
                    height: 15px;
                }
            }
        }
    }
}
